$transition-base: all 150ms ease-out;
@import 'reset';

html, body {
	color: var(--site-text-color);
	background-color: var(--site-bg-color);
	font-family: Inter, sans-serif;
	font-size: 1rem;
	font-feature-settings: "ss02" 1;
}
.container {
	width: calc( 100% - 3rem );
	margin: 0 1.5rem;
}
h1 {
	margin-block-start: 12rem;
	margin-inline-start: 0;
	margin-inline-end: 0;
}
h2 {
	margin-block-start: 4rem;
	margin-block-end: 1rem;
}
h3 {
	margin-block-start: 2rem;
	margin-block-end: 1rem;
}
blockquote {
	padding: 1rem 2rem .0625rem;
	margin-block-end: 1rem;;
	border-left: 0.0625rem solid var(--site-blockquote-border);
}
p {
	margin-block-end: 1rem;
	text-align: justify;
}
a[name] {
	text-decoration: none;
	color: inherit;
}
@media screen and (min-width: 55ch) {
	.container {
		max-width: 55ch;
		margin: 0 auto;
	}
}
